* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7626df;
}

.wrapper {
    user-select: none;
}

.wrapper .time{
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}

.wrapper .time span {
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: blue;
}

.time span.colon {
    width: 10px;
}

.time span.ms-colon,
.time span.millisecond {
    color:aqua
}

.wrapper .buttons {
    text-align: center;
    margin-top: 10px;
}

.buttons button{
    padding: 6px 16px;
    outline: none;
    margin: 0 5px;
    color: #0060fa;
    background:#fff ;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 50);
}

.buttons button.active,
.buttons button.stopActive {
    pointer-events: none;
    opacity: .7;
}